.menu-entry {
    display: grid;
    grid-template-areas: 
        "image heading"
        "image description";
    align-self: start;
    margin-top: 5px;
    margin-bottom: 5px;
}

.menu-image {
    grid-area: image;
    align-self: start;
}

.menu-heading {
    grid-area: heading;
    align-self: start;
    margin-left: 10px;
}

.menu-description {
    grid-area: description;
    align-self: start;
    margin-left: 10px;
}

body {
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#content {
    color: white;
    background: #000000c7;
}

button {
    color: #7AB7FF;
    background: #000000c7
}

#footer {
    color: white;
    font-size: 0.75em;
    bottom: 0;
}

a {
    color: #7AB7FF;
    text-decoration: underline;
}